* {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

*::-webkit-scrollbar {
  width: 50%;
}

.services-container {
  /* padding: 100px 0; */
  text-align: center;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  margin-top: 50px;
}

.service {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.service img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.service h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.service p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.rainbow-button {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  margin-top: 10%;
  margin-bottom: 0%;
}

.rainbow-button:hover:before {
  content: '';
  display: block;
  position: absolute;
  color: black;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  background-size: 400% 400%;
  animation: rainbow 2s ease-in-out infinite;
  margin-bottom: 0%;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}
.google-sign-in-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #757575;
  border: 1px solid #ddd;
  border-radius: 2px;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.google-sign-in-button:hover {
  background-color: #eee;
}

.google-sign-in-button i {
  font-size: 20px;
  margin-right: 10px;
  color: #dd4b39;
}

.or-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.or-line {
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

.or-text {
  margin: 0 10px;
  font-size: 16px;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-top: 5%;
}

.counter-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.counter-card {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 250px;
  transition: all 0.3s ease-in-out;
}

.counter-card:hover {
  transform: translateY(-5px);
}

.counter-icon {
  background-color: #6c5ce7;
  color: #ffffff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.counter-text h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #4b4b4b;
}

.counter-text p {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  color: #6c5ce7;
}

.chart-container {
  margin: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-input {
  border: none;
  border-radius: 0.5rem;
  background-color: #f3f4f6;
  color: #6b7280;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
}

.file-input:hover,
.file-input:focus {
  outline: none;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

.file-input::placeholder {
  color: #9ca3af;
}

.file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.file-input::before {
  content: 'Choose File';
  color: #6b7280;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #f6f6f3;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
}

.file-input:hover::before,
.file-input:focus::before {
  outline: none;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

.file-input:active::before {
  background-color: #e5e7eb;
}
/* 
@keyframes k-loading-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.k-i-loading.k-example-loading {
  font-size: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(144, 152, 165);
}

.k-i-loading.k-example-loading::before,
.k-i-loading.k-example-loading::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  content: '';
  box-sizing: inherit;
  border-radius: 50%;
  border-width: 0.05em;
  border-style: solid;
  border-color: currentColor;
  border-top-color: transparent;
  border-bottom-color: transparent;
  background-color: transparent;
}
.k-icon.k-i-loading.k-example-loading::before,
.k-icon.k-i-loading::after {
  content: '';
}

.k-i-loading.k-example-loading::before {
  margin-top: -0.5em;
  margin-left: -0.5em;
  width: 1em;
  height: 1em;
  animation: k-loading-animation 0.7s linear infinite;
}

.k-i-loading.k-example-loading::after {
  margin-top: -0.25em;
  margin-left: -0.25em;
  width: 0.5em;
  height: 0.5em;
  animation: k-loading-animation reverse 1.4s linear infinite;
}

.example-wrapper {
  min-height: 280px;
  align-content: flex-start;
}
.example-wrapper p,
.example-col p {
  margin: 20px 0 10px;
}
.example-wrapper p:first-child,
.example-col p:first-child {
  margin-top: 0;
}
.example-col {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  padding-bottom: 20px;
}
.example-config {
  margin: 0 0 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.event-log {
  margin: 0;
  padding: 0;
  max-height: 100px;
  overflow-y: auto;
  list-style-type: none;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: white;
}
.event-log li {
  margin: 0;
  padding: 0.3em;
  line-height: 1.2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.event-log li:last-child {
  margin-bottom: -1px;
} */
