.routes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.add-route-button {
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.add-route-button:hover {
  background-color: #3e8e41;
}

.route-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.route-item {
  width: 500px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  cursor: pointer;
}

.route-item:hover {
  transform: translateY(-5px);
}

.route-name {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.route-details {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.route-distance,
.route-difficulty {
  font-size: 16px;
  font-weight: bold;
}
