/* Button Styles */
button {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 10px;
}



/* Modal Styles */
.Modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 3%;
  max-height: 70vh;
  overflow-y: auto;
  justify-content: center;
  border: 1px solid orange;
margin: 0 auto;
}

.Modal h2 {
  margin: 0 0 0 35%;
}

.Modal label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.Modal input {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
  width: 80%;
}

.Modal button[type="submit"] {
  background-color: orange;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 10px;
}

.Modal button[type="submit"]:hover {
  background-color: #e11919;
}

.Modal button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.Modal button[type="submit"]:disabled:hover {
  background-color: #ccc;
}

/* .button {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  background-color: #4f46e5;
  color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.button:hover,
.button:focus {
  cursor: pointer;
  background-color: #433de5;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: scale(0.98);
  box-shadow: none;
}

@media only screen and (max-width: 768px) {
  .button {
    padding: 0.8rem 1.6rem;
  }
} */
